@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
}
=======
>>>>>>> 51d447517cf1e5ddb9a3a3caef440ecbe54e3afe
